

<h1>SOTUMADE</h1>

<p>　SOTUMADEは、産経の学生の卒業までの単位を計算するアプリです。卒業単位を自分だけで計算するのって、結構不安だな〜と思いまして！ だったら、アプリにさせようと思い、作ってみました！<br>暇な時間に完全に趣味で作りました。参考程度にお使いください^^</p>


<a href="/input" class="waves-effect waves-light btn-large center-btn">計算開始</a>