

<h1>Sotumade</h1>

<p>　Sotumadeは、卒業までの単位を計算するアプリです。卒業単位を自分だけで計算するのって結構不安だな〜と思い、アプリに計算してもらおう！と作りました。
  <br>暇な時間に完全に趣味で作りました。参考程度にお使いください^^</p>


<a href="/input" class="waves-effect waves-light btn-large center-btn">計算開始</a>