<form action="" method="post">



<div class="select-wrapper">
  <label>専門科目</label>
  <select class="browser-default">
    <option value="" disabled selected>取得した単位数</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
</div>


  <div class="select-wrapper">
    <label>専門科目</label>
    <select class="browser-default">
      <option value="" disabled selected>取得した単位数</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>

  <div class="select-wrapper">
    <label>専門科目</label>
    <select class="browser-default">
      <option value="" disabled selected>取得した単位数</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>


</form>
