
<h2>卒業まであと"</h2>

<span class="remaindUnit"><%= @remaindUnit %></span>
<p class="arrange">単位</p>

<div class="row">
  <p class="col s5 arrange">専門</p>
  <p class="col s4 arrange"><%= @expertSelect %></p>
  <p class="col s3">/12</p>
</div>


<div class="row">
  <p class="col s5 arrange">専門</p>
  <p class="col s4 arrange"><%= @expert %></p>
  <p class="col s3">/12</p>
</div>



<div class="row">
  <p class="col s5 arrange">専門</p>
  <p class="col s4 arrange"><%= @unitExpertSelect %></p>
  <p class="col s3">/12</p>
</div>

<a href="/" class="waves-effect waves-light btn-large center-btn">top</a>