
section{
    padding: 40px 25px;
    text-align: center;
}


h1{
    font-size: 40px;
    color: #4db6ac;
    font-weight: bold;
    padding: 15px 0px;
}

h2{
    font-size: 20px;
    color: #4db6ac;
    font-weight: bold;
    padding: 20px 0px;
}

p {
    color: #4db6ac;
    text-align: left;
    font-size: 15px;
}

span {
    color: red;
    font-size: 40px;
    font-weight: bold;
}

.center-btn{
    margin-top: 50px;

}

form{
    padding: 30px 20px;
    height:auto;
}

.select-wrapper{
    padding: 20px 0px;
}
label{
    font-size: 20px;
    color: #4db6ac;
}

p.arrange{
    text-align: center;
}







